
  
body {background-color: rgb(1, 99, 70);
    color: rgb(255, 196, 93);
    font-family: 'Source Sans Pro', sans-serif ;
    font-size: large;
}
h1 {
    color:lightblue;
    font-style: normal;
    
  }
h2 {
    color:lightblue;
    font-style: normal;
  }
h3 {
    color:lightblue;
    font-style: normal;
    }


