title{
    text-align: end;
}
body {
    background-color: rgb(1, 99, 70);
    color: rgb(255, 196, 93);
    font-family: 'Source Sans Pro', sans-serif ;
    font-style: normal;
    font-size: medium;
    border: 2px solid powderblue
}
h1 {
    color:lightblue;
    font-family: 'Source Sans Pro', sans-serif ;
    font-style: normal;
    text-align: center
    ;
  }
h2 {
    color:lightblue;
    font-style: normal;
  }
h3 {
    color:lightblue;
    font-style: normal;
    }

   


