.social-icon {
    color:rgba(4, 159, 248, 0.667);
    transition: color 0.2s;

  }

  .social-icon:hover{
      color:black;
      font-size: 150%;
  }
body {
    background-image: url(I:\git_repo\tufail-website\docs\my_image.png);
    text-align: justify;
    text-justify: inter-word; 
    text-decoration: dashed;
}
h1 {
    text-align:center;
}
h2 {text-shadow: 5px;
color:rgb(255,196,93);
text-decoration: dashed;

}
h3 {text-shadow: 5px;
    text-align:center;
    text-decoration: dashed;
    
    }
a {
    font-size: 20px;
    color: aqua;
}
a.fixed {
    position: fixed;
    bottom: 30;
    right: 40;
    width: 300px;
}

